/* 
    Created on : 03/12/2014, 08:28:50 AM
    Author     : Renzo Santillán
*/
#control_alumno{
    /*background:red;*/ 
    text-align: center;
    margin-top: 15px;
}


#control_alumno .nav_list {
    background: transparent;
    height: 38px;
    width: 350px;
    border-radius: 1em;
    margin-bottom: -5px;
    margin-left: -1px;
}

.separador{
    background: rgba(205,96,144,1);
    height: 1px;
    border-radius: 1px;
}

#control_alumno .nav_list li a {
    padding: 0.2em 1.8em;
    border-radius: 0.2em;
    background: rgba(205,96,144,1);
    color:white;
    text-shadow: 2px 2px 3px #CD6090;
    padding:6px 28px;
    position: relative;
    top:6px;
    /*   box-shadow: inset 0px 0px 40px #f00,
                        0px 0px 40px #ff0;*/

    -webkit-transition:all .5s ease-out;  /* Chrome y Safari */
    -o-transition:all .5s ease-out;  /* Opera */
    -moz-transition:all .5s ease-out;  /* Mozilla Firefox */
    -ms-transition:all .5s ease-out;   /* Internet Explorer */
    transition:all .5s ease-out;  /* W3C */
}


#alumno_content{
    /*    background: red;*/
    height: 300px;
    max-height: 320px;
    min-height: 280px;
}


/******* HOVERS - EFECTS ********/
#control_alumno .nav_list li a:hover {
    background: #8b0a50;
}

#submenu_usuario_content{
    background: whitesmoke;
    height: 80px;
    width: auto;

    /*padding: 10px;*/
}

#gestion_usuario {
    background: #888;
    width: 271px;
        /*border-top-right-radius: 2em;*/
        border-bottom-right-radius: 3em;
}

#gestion_usuario li a{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top:4px;
    border-bottom: solid 4px white;
    margin-left: -1.8px;
}



/*#content_usuario_main .MyHeader{
    text-align: left;
}

.MyHeader #titulo{
    top:9px;
    position: relative;
    margin-left: 10px;
    color:#CD6090;
    color:#888;
    background: red;
}*/


#tabContentID{
    /*    background: blue;*/
    padding: 20px;
}

#tabContentID span{
    vertical-align: top;
    margin-right: 20px;
}

.v_separador,.agrupar ,.MyRadioGroup{
    display: inline-block;
    vertical-align: top;
}

#list{
    height: 200px !important;
    width: 100px !important;
    background: red;
}

#btnGrabarAlumno{
    width:200px;
    margin-left: 20px;

}

#foto_subir,#foto_restricciones{
    display: inline-block;
    vertical-align:top;

}
#foto_subir{
    max-width: 500px;
    width: 450px !important;
    /*background: blue;*/
    margin-left: 200px;
    padding: 0px;
    margin-top: -20px;
}

#foto_restricciones{
    /*background:red;*/
    padding: 5px;
    margin-left:5px;
    margin-right: 19px;
}
#foto_restricciones h2{
    margin-left: -20px;
    margin-top: -5px;
    margin-bottom: 19px;
}

#imagen{
    width: 200px !important;
}