
/* 
    Created on : 02/12/2014, 04:17:19 PM
    Author     : Renzo Santillán
*/

header{
   /*background: rgba(34,144,201,1);*/
   background:#888;
    height: 57px;
    width: 1366px;
    /*border-bottom: solid 1px whitesmoke;*/
    color:white;
}

#content_clock,#content_logut,#content_bienvenida{
    /*background: red;*/
    height: 55px;
    width: 450px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
#content_bienvenida{
    width: 760px;
    float: left;
}

#bienvenida_content_logo{
    height: 55px;
    width:150px;
    float: left;
    margin-left: 10px;
}
#bienvenida_content_logo img{
    /*max-height: 100%;*/
    max-width: 100%;
}

#content_clock {
    width: 400px;
}

#content_clock label{
    top: 8px;
    position: relative;
}

#reloj{

    position: relative;
    font-size: 15px;
    color:white !important;
    /*background: yellow;*/
    
}
#content_logut{
    width: 200px;
    /*background: green;*/
    float: right;
}

#session{
    position: relative;
    top:12px;
    width: 120px;
    height: 30px;
    color:#2290c9 !important;
    font-size: 16px;
    padding: 0px;
    padding-left: 20px;
}
#session:focus{
   color:#2290c9 !important;
   background: white !important;
}


