
/* 
    Created on : 29/11/2014, 01:26:29 AM
    Author     : Renzo Santillán
*/


@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('../font/ubuntumono-r-webfont.eot');
    src: url('../font/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ubuntumono-r-webfont.woff2') format('woff2'),
         url('../font/ubuntumono-r-webfont.woff') format('woff'),
         url('../font/ubuntumono-r-webfont.ttf') format('truetype'),
         url('../font/ubuntumono-r-webfont.svg#ubuntu_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*ok*/
@font-face {
    font-family: 'linux_biolinum_oregular';
    src: url('../font/linbiolinum_r-webfont.eot');
    src: url('../font/linbiolinum_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/linbiolinum_r-webfont.woff2') format('woff2'),
         url('../font/linbiolinum_r-webfont.woff') format('woff'),
         url('../font/linbiolinum_r-webfont.ttf') format('truetype'),
         url('../font/linbiolinum_r-webfont.svg#linux_biolinum_oregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*ok*/
@font-face {
    font-family: 'beryliumregular';
    src: url('../font/berylium-webfont.eot');
    src: url('../font/berylium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/berylium-webfont.woff2') format('woff2'),
         url('../font/berylium-webfont.woff') format('woff'),
         url('../font/berylium-webfont.ttf') format('truetype'),
         url('../font/berylium-webfont.svg#beryliumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'junction_regularregular';
    src: url('../font/junction-webfont.eot');
    src: url('../font/junction-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/junction-webfont.woff2') format('woff2'),
         url('../font/junction-webfont.woff') format('woff'),
         url('../font/junction-webfont.ttf') format('truetype'),
         url('../font/junction-webfont.svg#junction_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



*{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'linux_biolinum_oregular'
}


h1,h2,h3,h4,h5,#clock{
    font-family: 'ubuntu_monoregular'
}

img,video {
    max-width: 100%;
}

